<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="descrption" contents="Home of McCrackenDev. Offering freelance web development services for small businesses and individuals looking for a custom bespoke and lightweight solution">
        <link rel="stylesheet" href="../css/global_styles.css">
        <title>McCrackenDev</title>
    </head>
    <body>
        {%include "header.njk" %}
        <main>
            {{content | safe}}
        </main>
        {%include "footer.njk" %}
    </body>
</html>