<header>
    <a href="/">
        <img src="../images/profile.webp" width="100px" alt="Jacob after getting second place in a USAPL power lifting competition wearing a black shirt, silver medal on a white ribbon holding a sign that reads 'go jacob, drop it like a squat'">
        <h1>McCrackenDev</h1>
    </a>
</header>