---
layout: 'base.njk'
---

<section >
    <h2>Fast, reliable, bespoke websites</h2>
</section>
<section>
    <h2>Flat Rate Offerings</h2>
    <ul>
        <li>
            <h3>Simple landing page - $50.00</h3>
            <p>A 1 page website perfect for those needing a clean and elegant web presence.</p>
        </li>
        <li>
            <h3>Multipage site - $150.00</h3>
            <p>Need something more complex? Have a variety of services or want to tell a more in depth story or display a portfolio? This option could be for you!</p>
        </li>
        <li>
            <h3>Multipage + CMS site - $500.00</h3>
            <p>Looking for a blog or an ever increasing portfolio? This option provides the ability to keep adding to your site over time.</p>
        </li>
    </ul>
</section>
<section>
    <h2>About Me</h2>
    <figure>
        <img src="../images/profile.webp" width="250px" alt="Jacob after getting second place in a USAPL power lifting competition wearing a black shirt, silver medal on a white ribbon holding a sign that reads 'go jacob, drop it like a squat'">
        <figcaption>Jacob McCracken</figcaption>
        <ul>
            <li>
                <a href="#">Polywork</a>
            </li>
            <li>
                <a href="#">Mastodon</a>
            </li>
        </ul>
    </figure>
    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas labore quis vel exercitationem expedita atque, nisi debitis aliquid rem excepturi, optio a incidunt similique impedit corrupti nihil sit nesciunt fuga? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, hic! Quos odio architecto repellat atque, aliquid nemo eaque nisi odit at consectetur iure repellendus officiis impedit nostrum beatae recusandae. Fugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptas dolorem quia consequuntur. Nesciunt ipsam vitae sapiente, quasi itaque quo animi, voluptatum vel in amet sint illum dignissimos, ut perspiciatis.
    </div>
    <div>
        <h3>Work History</h3>
        {# focus here is to highlight developer background including youtube content #}
        <ul>
            <li>I've done stuff!</li>
        </ul>
    </div>
</section>
<section>
    <h2>Portfolio</h2>
    {# this section will contain work examples - consider moving out into a template file... especially if bring in a CMS..... #}
</section>